@page "{searchQuery?}"
@model GroupsInfoModel
@{
    Layout = null;
}


@{ if (!string.IsNullOrEmpty(Model.Username))
    {
          if (@Model.SearchQuery != null)
             {
                <div class="row">
                    <div class="col-lg-6" id="col" style="margin-left:230px;">
                        <div class="List-GroupMembers">
                            <div class="card border-info mb-3" style="max-width: 40rem;">
                                <div class="card-header text-primary" style="font-size: 18pt">@Model.SearchQuery</div>
                                <div class="card-body">
                                    <table style="table-layout:fixed;" class="table table-sm">
                                        <tbody>
                                            @{

                                                int cc = 0;
                                                int jj = 2;
                                                foreach (var item in @Model.GroupMembers)
                                                {
                                                    var type = Model.MemberTypes[cc];
                                                    if (jj % 2 == 0)
                                                    {
                                                        <tr style="background-color: #d1f2f7;">
                                                            <td class="text-primary" style="font-size: 12pt;"><button type="button" style="background:transparent; border:none;" id="@item" data-ObjectType="@type" onclick="GetGroupMemberInfo(this.getAttribute('data-ObjectType'), this.id)">@item</button></td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr style="background-color: #b7ecf4;">
                                                            <td class="text-primary" style="font-size: 12pt;"><button type="button" style="background:transparent; border:none;" id="@item" data-ObjectType="@type" onclick="GetGroupMemberInfo(this.getAttribute('data-ObjectType'), this.id)">@item</button></td>
                                                        </tr>
                                                    }
                                                    cc++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                else
                {
                <div class="jumbotron" style="margin-top:60px;"><h1>Your session expired. Please refresh the page and logon.</h1></div>

                }
            }   
}

                


