@page "{searchQuery?}/{previousPage?}"
@model GroupsInfoModel
@{
    Layout = null;
}


@{ if (!string.IsNullOrEmpty(Model.Username))
    {
    <div class="row">
        <div class="col-lg-6" id="col">
            <div class="List-GroupMembers">
                <h5>@Model.SearchQuery</h5>
                @{
                    int cc = 0;
                    foreach (var item in @Model.GroupMembers)
                    {
                        string type = @Model.MemberTypes[cc];
                        <button type="button" data-ObjectTyp="@type" onclick="GroupDirectoryMember(this.getAttribute('data-ObjectType'))" class="list-group-item list-group-item-action active">
                            @item
                        </button>
                        cc++;

                    }
                }
            </div>
        </div>
        <div class="col-lg-6" style="max-height:500px; overflow:auto">
            <h5>Object List</h5>
           @{ foreach (var item in @Model.ADActiveUserList)
               {
                   <button class="list-group-item list-group-item-action active">@item</button>
               }
           }
        </div>
    </div>
    }
    else
    {
        <div class="jumbotron"><h1>Your session expired. Please refresh the page and logon.</h1></div>

    }
}


