@page  "{searchQuery?}"
@model UserInfoGridModel
@{
    Layout = null;
}



    <div class="row">
        <div class="col-lg-6" id="col">
            <button class="btn btn-outline-primary" id="unlockacc">Unlock Account</button>
            <button class="btn btn-outline-primary" id="resetpw">Reset Pasword</button>
            <p></p>
            <h5>Basic Info</h5>
            <table class="table table-sm table-dark">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>@Model.ADUsername</td>
                    </tr>
                    <tr>
                        <td>Display Name</td>
                        <td>@Model.ADUserDisplayName</td>
                    </tr>
                    <tr>
                        <td>Email Address</td>
                        <td>@Model.ADUserEmailAddress</td>
                    </tr>
                </tbody>
            </table>
            <h5>Password Stats</h5>
            <table class="table table-sm table-dark">
                <tbody>
                    <tr>
                        <td>Last Workstation Logon</td>
                        <td>@Model.ADUserLastLogon</td>
                    </tr>
                    <tr>
                        <td>Last Workstation Logon</td>
                        <td>@Model.ADUserLastLogon</td>
                    </tr>
                    <tr>
                        <td>Last Bad Password Attempt</td>
                        <td>@Model.ADUserLastBadPasswordAttempt</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-top:93px" class="col-lg-6" id="grid2">
            <div class="list-group">
                @{ 
                    
                    foreach(var item in @Model.SecurityGroups)
                    {
                        <a href="#" class="list-group-item list-group-item-action active">
                        @item
                        </a>
                    }
                }
            </div>
        </div>
    </div>









