@page  "{searchQuery?}"
@model UserInfoGridModel
@{
    Layout = null;
}


@{ if (!string.IsNullOrEmpty(Model.Username))
    {
         <div class="row">
            <div class="col-lg-6" id="col">
                <button class="btn btn-outline-primary" id="unlockacc">Unlock Account</button>
                <button style="min-width:135.98pt" class="btn btn-outline-primary" id="resetpw">Reset Pasword</button>
                <p></p>
                <h5>Basic Info</h5>
                <table style="table-layout:fixed" class="table table-sm table-dark">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>@Model.ADUser.UserName</td>
                        </tr>
                        <tr>
                            <td>Display Name</td>
                            <td>@Model.ADUser.DisplayName</td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>@Model.ADUser.EmailAddress</td>
                        </tr>
                        <tr>
                            <td>Account Locked</td>
                            <td>@Model.ADUser.AccountLocked</td>
                        </tr>
                        <tr>
                            <td>Container</td>
                            <td style="word-wrap:break-word;">@Model.ADUser.OU</td>
                        </tr>
                    </tbody>
                </table>
                <h5>Proxy Addresses</h5>
                <table class="table table-sm table-dark">
                    <tbody>
                        @{

                            foreach (var item in @Model.ADUser.ProxyAddresses)
                            {
                                <tr>
                                    <td>@item</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <h5>Password Stats</h5>
                <table class="table table-sm table-dark">
                    <tbody>
                        <tr>
                            <td>Last Workstation Logon</td>
                            <td>@Model.ADUser.LastLogon</td>
                        </tr>
                        <tr>
                            <td>Last Bad Password Attempt</td>
                            <td>@Model.ADUser.LastBadPasswordAttempt</td>
                        </tr>
                        <tr>
                            <td>User Cannot Change Password</td>
                            <td>@Model.ADUser.UserCannotChangePassword</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top:93px" class="col-lg-6" id="grid2">
                <div class="list-group">
                    @{

                        foreach (var item in @Model.ADUser.SecurityGroups)
                        {
                           <button type="button" id="@item" onClick="GetGroupMembers(this.id)" class="list-group-item list-group-item-action active">
                                @item
                            </button>
                        }
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron"><h1>Your session expired. Please refresh the page and logon.</h1></div>
    
    }
}
       












